* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #fbfbfb8a;
}

main {
    height: 75vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 25vh;
    background-color: rgb(247, 239, 239);
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-logo {
    width: 600px;
    padding-bottom: 230px;
}

.wrapper-form {
    flex: 0 0 40%;
    text-align: center;
}

.wrapper-logo img {
    max-width: 550px;
}

.wrapper-logo h2 {
    font: 16px;
    font-weight: 500;
    padding: 0 30px;
    line-height: 32px;
}

.wrapper-form .form-container {
    background-color: #fe03cc0e;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 400px;
}

.wrapper-form .form-container input, .wrapper-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.wrapper-form .form-container input {
    border: 1px solid lightgray;
    color: #1d2129;
    padding: 0 8px;
    border-radius: 8px;
}

.wrapper-form .form-container input:focus {
    border-color: #f60094;
}

.wrapper-form .form-container .btn-login {
    background-color: #d906b6;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.wrapper-form .form-container a {
    display: block;
    color: #f004c9;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.wrapper-form .form-container a:hover {
    text-decoration: underline;
}

.wrapper-form .form-container .btn-green {
    background-color: #9be8e4;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
}

.wrapper-form p {
    font-size: 14px;
}

.wrapper-form p a {
    text-decoration: none;
    color: #1c1e21;
    font-weight: 600;
}

.wrapper-form p a:hover {
    text-decoration: underline;
}

footer {
    padding-top: 15px;
}

.footer-items {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-items button {
    width: 25px;
    font-weight: 600;
}

.footer-items ol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 0;
    color: #737373;
}

footer ol:first-child {
    border-bottom: 1px solid #dddfe2;
}

footer ol li {
    padding-right: 15px;
    font-size: 12px;
}

footer ol li a {
    text-decoration: none;
    color: #737373;
}

footer ol li a:hover {
    text-decoration: underline;
}

footer small {
    font-size: 11px;
    color: #737373;
}